
<script lang="ts">
    import {appNavigator} from "../app/AppNavigator";
    import {appBackend} from "../app/AppBackend";
    import {StartGameRequest} from "../app/generated/api/model/startGameRequest";

    let name;
    let app = appBackend;

    let startGameRequest:StartGameRequest = {minutes:10, round:3};

    async function join(){
        await appBackend.lobby.join(name);
        app = appBackend;
    }

    async function startGame(){
        await app.lobby.startGame(startGameRequest);
        appNavigator.playing();
    }

</script>

<br><br>
{#await app.lobby.loadPlayers()}
    Loading ...
{:then player}
    <label class="input-group">
        <span>Rounds</span>
        <input type="text"  value="{startGameRequest.round}" class="input input-bordered">
    </label>
    <br>
    <label class="input-group">
        <span>Minutes</span>
        <input type="text"  value="{startGameRequest.minutes}" class="input input-bordered">
    </label>
    <br>
    <button class="btn btn-primary" on:click={startGame}>Start</button>
    <br><br>
    <div class="overflow-x-auto">
        <table class="table w-full table-zebra">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            {#each player as p}
                <tr>
                    <th>{p.id}</th>
                    <td>{p.name}</td>
                </tr>

            {/each}
            </tbody>
        </table>
    </div>

    <br>
    <div class="form-control">
        <div class="relative">
            <input bind:value="{name}" type="text" placeholder="Name" class="w-full pr-16 input input-primary input-bordered">
            <button class="absolute top-0 right-0 rounded-l-none btn btn-primary" on:click={join}>Join</button>
        </div>
    </div>
{/await}